In [1]:
import os
import pandas as pd

In [2]:
os.listdir('../dataset')

['eng_dataset (1).csv', 'README.MD']

### Data Exploratory

In [6]:
DATASET_PATH = "../dataset/eng_dataset (1).csv"
try:
  dataset = pd.read_csv(DATASET_PATH)
except FileNotFoundError:
  print(f'There is not file with the path {DATASET_PATH}')

In [7]:
dataset.head()

      ID sentiment                                            content
0  10941     anger  At the point today where if someone says somet...
1  10942     anger  @CorningFootball  IT'S GAME DAY!!!!      T MIN...
2  10943     anger  This game has pissed me off more than any othe...
3  10944     anger  @spamvicious I've just found out it's Candice ...
4  10945     anger  @moocowward @mrsajhargreaves @Melly77 @GaryBar...

In [8]:
dataset.isnull().sum()

ID           0
sentiment    0
content      0
dtype: int64

In [9]:
dataset.duplicated().sum()

np.int64(0)

In [10]:
print(dataset.groupby(['sentiment']).size())

sentiment
anger      1701
fear       2252
joy        1616
sadness    1533
dtype: int64